@{
    ViewData["title"] = "Confimação de apagar Abastetecimento";
}
<html>
<head>

</head>
<body>
    <div class="text-center">
        <h3>Realmente deseja apagar o Abastecimento </h3>

    <a class="btn btn-primary btn-block" role="button" asp-controller="Home" asp-action="Privacy">Cancelar Exclusão</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="Home" asp-action="Apagar" >Confirmar Exclusão</a>
    </div>
</body>
</html>
