
@{
    ViewData["title"] = "Editar Abastetecimento";
}
<html>
    <head>
    <meta charset="utf-8">
    </head>
<body>
    <div class="text-center">
        <h1 class="display-4">Editar Abastecimento</h1>
    </div>
       
        <div class="relatorio_index">
            <form>
                <div class="form-group col-md-4">
                    <label for="inputState">Bomba de combústivel</label>
                    <select id="inputState" class="form-control">
                        <option selected>Bico_01</option>
                        <option>Bico_02</option>
                        <option>Bico_03</option>
                        <option>Bico_04</option>
                        <option>Bico_05</option>
                        <option>Bico_06</option>
                        <option>Bico_07</option>
                        <option>Bico_08</option>

                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Bomba de combústivel</label>
                    <select id="inputState" class="form-control">
                        <option selected>Gasolina comum</option>
                        <option>Gasolina Aditivada</option>
                        <option>Etanol</option>
                        <option>Diesel</option>
                    </select>
                </div>
                <br />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Valor abastecido R$:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Bomba de combústivel</label>
                    <select id="inputState" class="form-control">
                        <option selected>Dinheiro</option>
                        <option>Débito</option>
                        <option>Crédito</option>
                    </select>
                </div>
                <br />

                <button type="submit" class="btn btn-primary">Alterar</button>
            </form>
        </div>
</body>
</html>

